version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: daily
    time: '03:00'
  open-pull-requests-limit: 10
  target-branch: "main"
  commit-message:
    prefix: "[bot]"

- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
    time: '03:00'
  open-pull-requests-limit: 10
  target-branch: "main"
  commit-message:
    prefix: "[bot]"

