graft .mvn
include mvnw mvnw.cmd pom.xml create-stubs.py

include optapy-core/pom.xml
graft optapy-core/src/main/java
graft optapy-core/src/main/resources
graft optapy-core/src/test/java

include python-to-java-translator/pom.xml
graft python-to-java-translator/src/main/java
graft python-to-java-translator/src/main/resources
graft python-to-java-translator/src/test/java

include optapy-docs/pom.xml
graft optapy-docs/src